@media (min-width:520px) {
    .mobile-view {
        display: none;
    }
}

@media (max-width:520px) {
    .desktop-view {
        display: none;
    }
}


/*
 media query for Desktop View 
 */
@media (max-width:1024) {
    .l-title {
        font-size: 60px;
    }

    .main .brand-img-side .car-img {
        max-width: 93%;
        width: 80%;
    }
}

/*
 media query for Desktop View 
 */



/*
 media query for Tab View 
 */
@media (max-width:768px) {
    .l-title {
        font-size: 60px;
    }

    .main .brand-form-side .logo-img {
        margin-bottom: 40px;
    }

    .main .brand-form-side h5 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    main {
        padding: 20px;
    }

    .main::after {
        width: 55%;
    }
}

/*
 media query for Tab View 
 */


/*
 media query for Mobile View 
 */
@media (max-width:520px) {
    .main .brand-form-side .logo-img {
        width: 50%;
        margin-bottom: 20px;
    }

    .l-title {
        font-size: 40px;
    }

    .main .brand-img-side {
        padding: 40px 20px;
    }
    .main{
        padding: 20px;
    }
    .main::after {
        width: 50%;
    }

    .main .brand-img-side .car-img {
        max-width: 100%;
        width: 100%;
    }

    .main .brand-form-side input,
    .main .brand-form-side .form-select {
        margin: 0 0 20px 0;
    }
    .main .head img {
        width: 50%;
        padding: 20px;
    }
    .main .brand-form-side{
        margin-top: 20px;
    }
}

/*
 media query for Mobile View 
 */